* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(14, 15, 18);
}


/* vuoto */


/* <i class="far fa-star"></i> */


/* pieno */


/* <i class="fas fa-star"></i> */